/* You can add global styles to this file, and also import other style files */
 

html, body { height: 100%; }
body { 
    background: #121212 !important;    
    margin: 0!important; 
    font-family: Roboto, "Helvetica Neue", sans-serif!important;
    font-size: 100%!important;
}
h1, h2, h3, h4, h5, h6{
    color:  white !important;
}

.contenedor{
    /* width: 100%;
    display: flex;
    position: relative;
    flex-direction: row; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.contenedorInterno{
    width: 100%;
    position: relative;
}

.text-center{
    text-align: center;
}


.full-width{
    width: 96%;
    margin-left: 10px; 
    
}

.matcard-table{
    padding: 30px;
}

th{
    color: #03DAC5!important;
    font-weight: bold !important;
    background-color: #383838 !important;
}


.ml20{
    margin-left: 20% ;
}

.mr20{
    margin-right: 20px ;
}

.mt20{
    margin-top: 20px ;
}

.mb20{
    margin-bottom: 20px ;
}

.ml10{
    margin-left: 10% ;
}

.mr10{
    margin-right: 10% ;
}
.mt10{
    margin-top: 10px ;
}
.mb10{
    margin-bottom: 10px ;
}
.ml5{
    margin-left: 5% ;
}

.mr5{
    margin-right: 5% ;
}
body{
    background-color: #121212;
}

    
