<!-- <block-ui message="Por favor espere..."> -->
    <div class="bootstrap-wrapper">
        <div class="container">
            <div class="row">
                <div class="offset">
<!-- 
                <div class="offset-md-4">     -->
                    <!-- <mat-card> -->

                        <form [formGroup]="form1" (ngSubmit)="guardar()">
                            <div class="contenedor ml5 mr5">
                                <br>
                                <div class="text-center">
                                    <br>
                                    <h3 class="text-center">Registro de torneos</h3>
                                    <div class="container text-center">
                                        <img src="../../../assets/pestana.png" width="100" height="100">
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="contenedor ml5 mr5">

                                <!-- <div class="contenedorInterno">
                                    <mat-form-field class="full-width" >
                                        <mat-label>Id torneo</mat-label>
                                        <input
                                            formControlName="idtorneo" matInput
                                            placeholder="Digite el Id">
                                        <mat-error *ngIf="hasErrors('identificacion','minlength')">Mínimo diez carácteres</mat-error>    
                                    </mat-form-field>
                                </div> -->
                                <div class="contenedorInterno">
                                    <mat-form-field class="full-width" >
                                        <mat-label>Nombre del torneo</mat-label>
                                        <input formControlName="nombre" matInput placeholder="Digite el nombre">
                                    </mat-form-field>
                                </div>

                                <div class="contenedorInterno">
                                    <mat-form-field class="full-width" >
                                        <mat-label>Modalidad</mat-label>
                                        <input formControlName="modalidad" matInput placeholder="Digite la modalidad">
                                    </mat-form-field>
                                </div>

                                <div class="contenedorInterno">
                                    <mat-form-field class="full-width" >
                                        <mat-label>Estado</mat-label>
                                        <mat-select formControlName="estado">
                                            <mat-option>...</mat-option>
                                            <mat-option value="Sin empezar">Sin empezar</mat-option>
                                            <mat-option value="En curso">En curso</mat-option>
                                            <mat-option value="Finalizado">Finalizado</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="contenedorInterno">
                                    <mat-form-field class="full-width" >
                                        <mat-label>Fecha</mat-label>
                                        <input matInput [matDatepicker]="picker3" formControlName="fecha"
                                            placeholder="MM/DD/YYYY">
                                        <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
                                        <mat-datepicker #picker3></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="contenedorInterno">
                                    <mat-form-field class="full-width" >
                                        <mat-label>Club</mat-label>
                                        <mat-select formControlName="idclub">
                                            <mat-option *ngFor="let club of clubes" [value]="club.idclub">
                                                {{ club.nombre }}
                                              </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <br>
                                <button type="submit" mat-raised-button color="primary" >
                                    <mat-icon>save</mat-icon>
                                    Guardar
                                </button>
                                <button [routerLink]="'/lista-torneo'" type="reset" style="margin-left: 20px;" mat-raised-button color="accent">
                                    <mat-icon>undo</mat-icon>
                                    Volver
                                </button>

                            </div>
                        </form>

                        <br><br><br>
                    <!-- </mat-card> -->
                </div>
            </div>
        </div>
    </div>
<!-- </block-ui> -->
